.navBar {
  height: 100vh;
  position: sticky;
  background-color: white;
  top: 0;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.2) 1.95px 1.95px 2.6px;
}
.navBar h2 {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}
.nav_div {
  display: flex;
  flex-direction: column;
  height: 75vh;
  justify-content: space-between;
  margin-top: 25px;
}
.navBar a {
  color: black;
  display: flex;
  gap: 10px;
  text-decoration: none;
  align-items: center;
  padding: 10px;
  /* border: 1px solid black; */
}
.nav_div span {
  font-weight: bold;
}
.icon {
  font-size: 35px;
  /* background-color: rgb(243, 201, 63); */
  background-color: rgb(243, 216, 220);
  padding: 8px;
  border-radius: 5px;
}
