.todo_div {
  width: 90%;
  margin: auto;
  margin-top: 65px;
  /* border: 1px solid black; */
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(218, 235, 234);
}
.todo_div .form_div {
  display: flex;
  justify-content: space-between;
}
.todo_div .form_div > div {
  background-color: white;
  width: 23.5%;
  padding: 10px;
  border-radius: 10px;
  /* border: 1px solid black; */
}
.todo_div h2 {
  margin-bottom: 15px;
}
.todo_div .form_div .task input,
.sub_task input,
.todo_div .form_div .task textarea {
  width: 100%;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  padding-left: 5px;
  background-color: rgb(243, 237, 237);
}
.todo_div .form_div .task input,
.sub_task input,
.sub_task button {
  margin-bottom: 10px;
  height: 35px;
}
.todo_div .form_div .task textarea {
  padding-top: 5px;
}
.sub_task button,
.add_todo_btn button {
  width: 75px;
  font-size: 16px;
  font-weight: 400;
  background-color: rgb(118, 118, 238);
  border: none;
  color: white;
  border-radius: 10px;
}
.todo_category div {
  width: 70%;
  margin: auto;
}
.todo_category > div {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.todo_category p {
  margin-bottom: 5px;
  font-weight: bold;
}
.add_todo_btn {
  width: 100%;
}
.add_todo_btn button {
  width: 100%;
  height: 35px;
}
.todo_div button:hover {
  background-color: blue;
  cursor: pointer;
}
.todo_category input {
  margin-right: 5px;
}
.add_todo_btn img {
  width: 100%;
  border-radius: 10px;
}
