* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  width: 100%;
}
.App {
  display: flex;
}

.navbar {
  /* border: 1px solid black; */
  background-color: white;
}
.all_pages {
  width: 100%;
  background-color: rgb(238, 230, 230);
}
